<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IMAP Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

     <!-- <script type="text/javascript">

       var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23019901-1']);
          _gaq.push(['_setDomainName', "bootswatch.com"]);
          _gaq.push(['_setAllowLinker', true]);
          _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script> -->
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class='container-fluid'>
      <div class="grid row-fluid">
        <div class="span span3 clearfix">
          <div style="height: 250px; margin: 5px;">
            <center><img style="height: 100%;" src="/assets/img/note_245.png"/></center>
          </div>
        </div>
        <div class="span span8 clearfix">
          <div class="hero-unit">
            <h1>iMAP Note</h1>

            <p>IMAP Note management <small>(compatible with the iPhone Notes app)</small></p>

            <p><a class="btn btn-primary btn-large" href="/login"><i class="icon-envelope icon-white"></i> &nbsp;Sign in with Gmail</a></p>
            <small><a href="/advauth">...or setup advanced IMAP</a></small>
          </div>
        </div>
      </div>

      <div class="grid row-fluid">
        <div class="span span4 clearfix">
          <div class="text">
            <p><img style="width: 100%" src="/assets/img/screenshot/imapnote.jpg" alt="Manage your notes" /></p>
          </div>
        </div>
      
        <div class="span span4 clearfix">
          <div class="text">
            <p><img style="width: 100%" src="/assets/img/screenshot/gmail.jpg" alt="Archive and history in Gmail (or any IMAP provider)" /></p>
          </div>
        </div>
      
        <div class="span span4 clearfix">
          <div class="text">
            <p><img style="width: 100%" src="/assets/img/screenshot/iphone.jpg" alt="Designed to sync specifically with the built in iPhone Notes app" /></p>
          </div>
        </div>
      </div>

      <div class="grid row-fluid">
        <div class="span span9 clearfix">
          <div class="well">
            <h3>What is this thing?!</h3>
            <p>A simple note manager (for your grocery lists, todo’s, whatever!) built on your <strong>existing</strong> email provider’s storage.</p>
            <h3>Info</h3>
            <p>iMAPNote (IMAP - <a href="http://en.wikipedia.org/wiki/Internet_Message_Access_Protocol">Internet Message Access Protocol</a>) is a note manager using only the IMAP standard. Particular attention was paid to header information to ensure that the API is compatible with the iPhone Notes app (native). This means as an IMAP email user you can now edit notes online in the same way you have been able to on the iPhone.</p>
            <p><strong>Setup instructions</strong></p>
            <ul>
              <li><p><a href="http://support.apple.com/kb/HT4191">iPhone IMAP Notes setup</a></p></li>
              <ul><li><p><a href="http://maketecheasier.com/configure-imap-and-sync-iphone-notes-to-your-email/2011/01/03">Alternative setup instructions</a></p></li></ul>
              <li><p><a href="http://code.google.com/p/imapnote/">Android Note app</a></p></li>
              <li><p>...or just use this interface!</p></li>
            </ul>
            <br/>
            <p><a href="https://gist.github.com/8614e41f9154d7149a3f">Technical notes</a></p>
          </div>
        </div>
        <div class="span span3 clearfix">
          <div style="height: 250px; margin: 5px;">
            <center><img style="width: 100%;" src="/assets/img/sync.png"/></center>
          </div>
        </div>
      </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
<!--    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script> -->
<!--    <script src="/application.js"></script> -->
  </body>
</html>
