<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IMAP Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

     <!-- <script type="text/javascript">

       var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23019901-1']);
          _gaq.push(['_setDomainName', "bootswatch.com"]);
          _gaq.push(['_setAllowLinker', true]);
          _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script> -->
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class='container-fluid'>
      <div class="grid row-fluid">
        <div class="span span3 clearfix">
          <div style="height: 250px">
            <center><img style="height: 100%" src="/assets/img/note_245.png"/></center>
          </div>
        </div>
        <div class="span span8 clearfix">
          <div class="hero-unit">
            <h1>iMAPNote</h1>

            <p>IMAP Note management <small>(compatible with the iPhone Notes app)</small></p>

            <p><a class="btn btn-primary btn-large" href="#">Sign in with
            gmail</a></p>
          </div>
        </div>
      </div>

      <div class="grid row-fluid">
        <div class="span span4 clearfix">
          <div class="text">
            <p>Gmail, consectetur adipiscing elit. Nam ornare viverra <b>risus
            ut</b> tincidunt. Praesent a elit ante. Nunc quis nibh nisi, in
            semper nulla. Donec et euismod mauris. In et urna vitae elit
            consectetur fermentum. Nunc orci urna, lacinia vel lacinia vitae,
            tempor sed augue.</p>
      
            <ul>
              <li>Ut a orci bibendum</li>
      
              <li>Fusce aliquet arcu eget eros</li>
      
              <li>Sed vitae leo orci</li>
            </ul>
      
            <p>Nam a pretium ipsum. Fusce tempor sodales ligula, eu sagittis
            ligula laoreet faucibus. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia Curae; Sed condimentum ante
            nec odio auctor feugiat. Donec nunc quam, bibendum ut iaculis
            fringilla, fringilla vel nisi. Suspendisse potenti. Proin at justo
            nulla, eu hendrerit nunc. Aliquam erat volutpat. Sed sit amet mi
            neque, at porttitor diam.</p>
          </div>
        </div>
      
        <div class="span span4 clearfix">
          <div class="text">
            <p>Manage your notes, consectetur adipiscing elit. Nam ornare
            viverra <b>risus ut</b> tincidunt. Praesent a elit ante. Nunc quis
            nibh nisi, in semper nulla. Donec et euismod mauris. In et urna
            vitae elit consectetur fermentum. Nunc orci urna, lacinia vel
            lacinia vitae, tempor sed augue.</p>
      
            <ul>
              <li>Ut a orci bibendum</li>
      
              <li>Fusce aliquet arcu eget eros</li>
      
              <li>Sed vitae leo orci</li>
            </ul>
      
            <p>Nam a pretium ipsum. Fusce tempor sodales ligula, eu sagittis
            ligula laoreet faucibus. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia Curae; Sed condimentum ante
            nec odio auctor feugiat. Donec nunc quam, bibendum ut iaculis
            fringilla, fringilla vel nisi. Suspendisse potenti. Proin at justo
            nulla, eu hendrerit nunc. Aliquam erat volutpat. Sed sit amet mi
            neque, at porttitor diam.</p>
          </div>
        </div>
      
        <div class="span span4 clearfix">
          <div class="text">
            <p>iPhone (native) and Android clients for mobile/offline/etc...,
            consectetur adipiscing elit. Nam ornare viverra <b>risus ut</b>
            tincidunt. Praesent a elit ante. Nunc quis nibh nisi, in semper
            nulla. Donec et euismod mauris. In et urna vitae elit consectetur
            fermentum. Nunc orci urna, lacinia vel lacinia vitae, tempor sed
            augue.</p>
      
            <ul>
              <li>Ut a orci bibendum</li>
      
              <li>Fusce aliquet arcu eget eros</li>
      
              <li>Sed vitae leo orci</li>
            </ul>
      
            <p>Nam a pretium ipsum. Fusce tempor sodales ligula, eu sagittis
            ligula laoreet faucibus. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia Curae; Sed condimentum ante
            nec odio auctor feugiat. Donec nunc quam, bibendum ut iaculis
            fringilla, fringilla vel nisi. Suspendisse potenti. Proin at justo
            nulla, eu hendrerit nunc. Aliquam erat volutpat. Sed sit amet mi
            neque, at porttitor diam.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
<!--    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script> -->
<!--    <script src="/application.js"></script> -->
  </body>
</html>
